*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display:flex;
}

.top-bar-button{
   padding:10px 20px;
   padding-bottom: 20px;
   justify-content: flex-end;
}

.top-bar-button>button{
    margin-left: 5px;
    padding:3px 10px;
    background-color: rgb(75, 75, 75);
    border-radius:5px;
    color:white;
}


.main-container-video{
    margin:auto;
    width:90%;
    padding-bottom: 80px;
    flex-direction:row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    align-content:flex-start;
}

.webcam-image{
    height: 180px;
    width:270px;
    border:1px solid black;
    position:relative;
    margin:1px;
}

.webcam-image>img{
    width:100%;
    height: 100%;
}

.webcam-users-name{
    border:1px solid black;
    position:absolute;
    bottom:0;
    left: 0;
    color:white;
    background-color: rgb(39, 39, 39);
    opacity: 0.7;
}

.footer-nav{
    height: 80px;
    width:100%;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
}

.nav-left{
    height: 100%;
    width: 300px;
    align-items: center;
}

.nav-center{
    height: 100%;
    width:800px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-right:50px;
}

.nav-right{
    height: 100%;
    width:150px;
    background-color: rgb(97, 97, 97);
    align-items:center;
    padding-left:15px;
}

li{
    color:white;
    display: inline-block;
    font-size: 25px;
    padding:0 20px 0 10px;
}

.footer-nav p{
    padding-top: 2px;
    font-size: 15px;
    color:white;
}

.icon-chevron-up{
    font-size: 15px;
}

.nav-right>p{
    color:red;
    font-size: 18px;
}

.container-share-screen li{
    color:rgb(2, 221, 2);
}